<div class="min-h-full">
    <shared-nav></shared-nav>
    <header class="bg-white shadow-sm">
        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
            <h1 class="text-lg leading-6 font-semibold text-gray-900">Clients</h1>
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
          <!-- Replace with your content -->
          <div class="px-4 py-4 sm:px-0">
            <clients-body [isAdmin]="isAdmin"></clients-body>
          </div>
          <!-- /End replace -->
        </div>
      </main>
</div>